.filesList {
    margin: 10px;
    width: 50% !important;
}

.fileListHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.deleteButton {
    height: 50% !important;
}

.list-group-item {
    position: relative;
}

.fileName {
    display: block;
    margin-bottom: 20px;
}

.pageExampleCtr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pageExampleCtr>* {
    margin: 10px;
}