.backButton {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    background-color: white;
    color: blue;
}

.filename {
    text-align: start;
    margin-left: 20px;
    font-size: 90px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke-color: cornflowerblue;
    -webkit-text-stroke-width: thin;
}
.questionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionContainer > * {
    font-size: 40px;
    margin-right: 20px;
    text-align: start;
}

.accordion {
    margin: 10px;
    padding: 10px;
}

.accordion > * {
    margin: 3% 0 3% 0;
}

.accordion-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.accordion-button {
    width: fit-content;
    font-size: larger;
    background: none;
    border: none;
}

.accordion-body {
    border: 1px solid;
    border-radius: 1%;
    width: 100%;
}

.accordion-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}